.task-container {
    padding: 0.3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
}

.mark-task {
    display: flex;
    gap: 0.3em;
}

.mark-task input {
    accent-color: #809BC4;
    accent-color: #282828;
    margin-top: 6px;
}

.delete-button {
    background: none;
    color: #282828;
    border: none;
    font-size: 1rem;
}

.delete-button:hover{
    cursor: pointer;
}