.homepage-container {
    --light-mode: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    min-height: 100vh;
    background: var(--light-mode);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}