.homepage-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url('../../assets/night-background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}